<div class="row">
  <div class="col-lg-8">
    <div class="well bs-component">  
      <%= form_for @subscriber, :html => {:class => "form-horizontal"} do |f| %>
        <% if @subscriber.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@subscriber.errors.count, "error") %> prohibited this subscriber from being saved:</h2>

            <ul>
            <% @subscriber.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= f.label :first_name, class: "col-lg-2 control-label" %><br>
          <div class="col-lg-6">
          <%= f.text_field :first_name, class: "form-control" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :last_name, class: "col-lg-2 control-label" %><br>
          <div class="col-lg-6">
          <%= f.text_field :last_name, class: "form-control" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :account_number, class: "col-lg-2 control-label" %><br>
          <div class="col-lg-6">
          <%= f.text_field :account_number, class: "form-control" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :property_address, class: "col-lg-2 control-label" %><br>
          <div class="col-lg-6">
          <%= f.text_field :property_address, class: "form-control" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :property_city, class: "col-lg-2 control-label" %><br>
          <div class="col-lg-6">
          <%= f.text_field :property_city, class: "form-control" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :property_state, class: "col-lg-2 control-label" %><br>
          <div class="col-lg-6">
          <%= f.text_field :property_state, class: "form-control" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :property_zip, class: "col-lg-2 control-label" %><br>
          <div class="col-lg-6">
          <%= f.text_field :property_zip, class: "form-control" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :subscription_size, class: "col-lg-2 control-label" %><br>
          <div class="col-lg-6">
          <%= f.text_field :subscription_size, class: "form-control" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :email, class: "col-lg-2 control-label" %><br>
          <div class="col-lg-6">
          <%= f.text_field :email, class: "form-control" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :phone, class: "col-lg-2 control-label" %><br>
          <div class="col-lg-6">
          <%= f.text_field :phone, class: "form-control" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :secondary_contact, class: "col-lg-2 control-label" %><br>
          <div class="col-lg-6">
          <%= f.text_field :secondary_contact, class: "form-control" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :secondary_phone, class: "col-lg-2 control-label" %><br>
          <div class="col-lg-6">
          <%= f.text_field :secondary_phone, class: "form-control" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :secondary_email, class: "col-lg-2 control-label" %><br>
          <div class="col-lg-10">
          <%= f.text_field :secondary_email, class: "form-control" %>
          </div>
        </div>
        <div class="field">
          <%= f.label :payment_details, class: "col-lg-2 control-label" %><br>
          <div class="col-lg-10">
          <%= f.text_field :payment_details, class: "form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
          <%= f.submit "Submit", class: "btn btn-primary" %>
          </div>
        </div>
      </fieldset>
      <% end %>
    </div>
  </div>
</div>
