<div class="row">
  <div class="col-lg-8">
    <div class="well bs-component">                  
    <%= form_for @solar_garden, :html => {:class => "form-horizontal"} do |f| %>
      <% if @solar_garden.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@solar_garden.errors.count, "error") %> prohibited this solar_garden from being saved:</h2>
          <ul>
          <% @solar_garden.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="form-group">
        <%= f.label :size, class: "col-lg-2 control-label" %>
        <div class="col-lg-10">
        <%= f.text_field :size, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :address, class: "col-lg-2 control-label" %><br>
        <div class="col-lg-10">
        <%= f.text_field :address, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :city, class: "col-lg-2 control-label" %><br>
        <div class="col-lg-10">
        <%= f.text_field :city, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :zip, class: "col-lg-2 control-label" %><br>
        <div class="col-lg-10">
        <%= f.text_field :zip, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :operator, class: "col-lg-2 control-label" %><br>
        <div class="col-lg-10">
        <%= f.text_field :operator, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :contact_name, class: "col-lg-2 control-label" %><br>
        <div class="col-lg-10">
        <%= f.text_field :contact_name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :contact_phone, class: "col-lg-2 control-label" %><br>
        <div class="col-lg-10">
        <%= f.text_field :contact_phone, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :contact_email, class: "col-lg-2 control-label" %><br>
        <div class="col-lg-10">
        <%= f.text_field :contact_email, class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-10 col-lg-offset-2">
        <%= f.submit "Submit", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>